<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	
	  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Todos los detalles sobre lo sucedido entre River Plate y Boca Junios en la final que se disputó en Madrid">
<meta name="keywords" content="boca juniors, river plate, argentina, madrid, copa libertadores">


    <title>Final de Madrid</title>

    <!-- Bootstrap CSS -->

	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap" rel="stylesheet">
	<link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar__style">
  <a class="navbar-brand " href="../index.html"><img src="../img/logos/escudoRiver.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a  class="nav-link" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jugadores.html">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="titulos.html">Titulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="galeria.html">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="finalMadrid.html">Madrid</a>
      </li>
    </ul>
  </div>
</nav>

	<!-- CONTENIDO -->

<div class="container">

	<div class="mt-5 pt-5 body_style">
		<div class="row mt-3">
			<div class=" col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h2 >Camino a la final de la Copa Libertadores 2018</h2>
			</div>	
		</div>
 	</div>

	

	<div class="row">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
			<table class="table-striped" align="center" border="1px">
				<thead class="fondoTabla--fondoColor">
					<tr>
						<th width="100">Fecha</th>
						<th width="100">Fase</th>
						<th width="100">Local</th>
						<th width="50">Resultado</th>
						<th width="100">Visitante</th>
					</tr>
				</thead>

					<tr>
						<td>28 de Febrero</td>
						<td rowspan="6">Fase de grupos <br> Grupo D</td>
						<td>Flamengo</td>
						<td>2:2</td>
						<td>River Plate</td>
					</tr>

					<tr>
						<td>5 de Abril</td>
						<td>River Plate</td>
						<td>0:0</td>
						<td>Ind. Santa fe</td>
					</tr>

					<tr>
						<td>19 de Abril</td>
						<td>Emelec</td>
						<td>0:1</td>
						<td>River Plate</td>
					</tr>

					<tr>
						<td>26 de Abril</td>
						<td>River Plate</td>
						<td>2:1</td>
						<td>Emelec</td>
					</tr>

					<tr>
						<td>3 de Mayo</td>
						<td>Ind. Santa fe</td>
						<td>0:1</td>
						<td>River Plate</td>
					</tr>

					<tr>
						<td>23 de Mayo</td>
						<td>River Plate</td>
						<td>0:0</td>
						<td>Flamengo</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="5" align="center">River Plate avanzó a los octavos de final primero en su grupo con 12 puntos</td>
					</tr>

					<tr>
						<td>9 de Agosto</td>
						<td rowspan="2">Octavos de final</td>
						<td>Racing Club</td>
						<td>0:0</td>
						<td>River Plate</td>
					</tr>

					<tr>
						<td>29 de Agosto</td>
						<td>River Plate</td>
						<td>3:0</td>
						<td>Racing Club</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="5" align="center">River Plate avanzó a los cuartos de final con un global de 3:0</td>
					</tr>

					<tr>
						<td>19 de Septiembre</td>
						<td rowspan="2">Cuartos de final</td>
						<td>Independiente</td>
						<td>0:0</td>
						<td>River Plate</td>
					</tr>

					<tr>
						<td>2 de Octubre</td>
						<td>River Plate</td>
						<td>3:1</td>
						<td>Independiente</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="5" align="center">River Plate avanzó a la semifinal con un global de 3:1</td>
					</tr>

					<tr>
						<td>23 de Octubre</td>
						<td rowspan="2">Semafinal</td>
						<td>River Plate</td>
						<td>0:1</td>
						<td>Gremio</td>
					</tr>

					<tr>
						<td>30 de Octubre</td>
						<td>Gremio</td>
						<td>1:2</td>
						<td>River plate</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="5" align="center">River Plate avanzó a la final con un global de 2:2, por la regla del gol de visitante</td>
					</tr>
			</table>
		</div>
	</div>


    <div class="row mt-5 pt-5 body_style">
     	<div class="col-12 col-xs-12 col-md-12 col-lg-12">
    	   	<h1>IDA</h1>
    	</div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
			<p>La ida se iba disputar en La Bombonera el sábado 10 de noviembre de 2018. Pero, si era la final más épica de la historia del fútbol, había que condimentarla. Ese día llovió. Muchísimo. Se suspendió el encuentro, se pasó para el domingo 11. 
			<br>
			Ahí sí. Estadio repleto, explotado. El gol de Wanchope Ábila, el saque del medio del Oso Pratto. El grito del Pipa Benedetto y el empate final de Izquierdoz encontra. Claro, cómo olvidarnos de la atajada final de Franco Armani ante el Pipa, el mano a mano que pudo cambiar la vida de todos. </p>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
				<iframe width="450" height="315" src="https://www.youtube.com/embed/6jG9ErmPYN0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>


    <div class="row mt-5 pt-5 body_style">
        <div class="col-12 col-xs-12 col-md-12 col-lg-12">
            <h1>INCONVENIENTES EN EL MEDIO</h1>
        </div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
			<p>La vuelta se tenía que disputar el sábado 24 en El Monumental. Pero, si era la final más épica de la historia del fútbol, había que condimentarla. En uno de los hechos más tristes que se recuerden, el micro del Xeneize fue agredido cuando estaba llegando al estadio. Hubo futbolistas que debieron ser trasladados al hospital por heridas provocadas por vidrios que se rompieron. Se suspendió el encuentro.
			<br>
			Los futbolistas del elenco de la Ribera decidieron no salir a jugar ese partido en un Monumental que ya estaba inundado de hinchas. Daniel Angelici firmó un pacto de caballeros para disputar la batalla el domingo 25. Finalmente, ese día también se suspendió.</p>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
			<iframe width="450" height="315" src="https://www.youtube.com/embed/MFWAfjLcoXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>	

    <div class="row mt-5 pt-5 body_style">
        <div class="col-12 col-xs-12 col-md-12 col-lg-12">
            <h1>VUELTA</h1>
        </div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
			<p>Después de muchas idas y vueltas, especulaciones por todos lados, Conmebol tomó la decisión más insólita en muchísimo tiempo: llevó la final de la Copa Libertadores de América a Europa, a Madrid. Sí, nos robaron la final. ¿O la destruímos nosotros?.
			<br>
			Ahora sí, llegamos al día más especial. 9 de diciembre de 2018. El día que todo cambió para siempre. Que nada volverá a ser igual. El escenario fue el Santiago Bernabéu, mitad de hinchas de Boca, mitad de River.
			<br>
			Lo empezó ganando el conjunto de Guillermo Barros Schelotto por un golazo del Pipa Benedetto. Sí, cómo olvidar su celebración sacándole la lengua a Montiel. En el complemento, jugada colectiva del elenco de Marcelo Gallardo y definición de Pratto. 1 a 1. 
			<br>
			Pero, si era la final más épica de la historia del fútbol, había que condimentarla. Hubo alargue. Y fue ahí donde el Millonario se volvió gigante: lo ganó Juanfer Quintero con un bombazo infernal, lo liquidó el Pity Martínez con la corrida de su vida. 
			<br>
			3 a 1. Final. River campeón de América venciendo a Boca en la final de la Libertadores.</p>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-xs-12 col-md-12 col-lg-12">
			<iframe width="450" height="315" src="https://www.youtube.com/embed/7jX9ITq5KRw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>


	
				<!--FOOTER-->
	    <footer class="footer static-bottom footer__style">
        <div class="container">
            <div class="row p-5">
                <div class="col-12 col-md-8 col-lg-8 text-left">
                    <p>Página sin fines de lucro ni comerciales</p>
                    <p>Copyright Enzo Benitez©</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 text-center">
                    <a href="https://www.facebook.com/riverplateoficial"><img src="../img/logos/facebooklogo1.png" alt="FACEBOOK"></a>
                    <a href="https://www.youtube.com/user/cariverplatetv"><img src="../img/logos/youtubelogo1.png" alt="YOUTUBE"></a>
                    <a href="https://www.instagram.com/riverplate/?hl=es-la"><img src="../img/logos/instagramlogo1.png" alt="INSTAGRAM"></a>
                    <a href="https://twitter.com/RiverPlate"><img src="../img/logos/twitterlogo1.png" alt="TWITTER"></a>
                </div>
            </div>
        </div>
    </footer>


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../vendor/js/bootstrap.bundle.min.js"></script>
</body>
</html>