<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Jugadores actuales de River Plate y los mas grandes idolos del club">
  <meta name="keywords" content="jugadores, idolos, glorias, river plate">

    <title>Jugadores</title>

    <!-- Bootstrap CSS -->

	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap" rel="stylesheet">
	<link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar__style">
  <a class="navbar-brand" href="../index.html"><img src="../img/logos/escudoRiver.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a  class="nav-link" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jugadores.html">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="titulos.html">Titulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="galeria.html">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="finalMadrid.html">Madrid</a>
      </li>
    </ul>
  </div>
</nav>

	<!--CONTENIDO-->
<div class="container "><!--inicio del container-->
	<div class="col-12 col-12 col-md-12 col-lg-12 text-center">
        <h2 class="mt-5 pt-5">Plantel actual</h2>
    </div>

	<!--TABLE JUGADORES-->
	
	<div class="row"> <!--inicio del row-->
		<div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">	
			<table class=" table-striped" align="center" border="1px">
				<div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div>Plantel del Club Atletico River Plate 2020</div>
				</div>
				<thead >
					<tr>
						<th width="40">N°</th>
						<th width="100">Nacionalidad</th>
						<th width="100">Posicion</th>
						<th width="100">Nombre</th>
						<th width="100">Edad</th>
						<th width="100">Proveniente</th>
					</tr>
				</thead>

					<tr>
						<td colspan="6" class="fondoTabla--fondoColor" align="center" style="color: white">Arqueros</td>
					</tr>
		
					<tr>
						<td>1</td>
						<td>Argentina</td>
						<td>Arquero</td>
						<td>Franco Armani</td>
						<td>33 años</td>
						<td>Atletico Nacional</td>
					</tr>

					<tr>
						<td>12</td>
						<td>Argentina</td>
						<td>Arquero</td>
						<td>Ezequiel Centurión</td>
						<td>23 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>14</td>
						<td>Argentina</td>
						<td>Arquero</td>
						<td>German Lux</td>
						<td>37 años</td>
						<td>Deportivo La Coruña</td>
					</tr>

					<tr>
						<td>25</td>
						<td>Argentina</td>
						<td>Arquero</td>
						<td>Enrique Bologna</td>
						<td>38 años</td>
						<td>Gimnasia (LP)</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="6" align="center" style="color: white">Defensores</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Paraguay</td>
						<td>Defensor central</td>
						<td>Robert Rojas</td>
						<td>24 años</td>
						<td>Guaraní</td>
					</tr>

					<tr>
						<td>6</td>
						<td>Chile</td>
						<td>Defensor central</td>
						<td>Paulo Díaz</td>
						<td>25 años</td>
						<td>Al-Ahli</td>
					</tr>

					<tr>
						<td>22</td>
						<td>Argentina</td>
						<td>Defensor central</td>
						<td>Javier Pinola</td>
						<td>37 años</td>
						<td>Rosario Central</td>
					</tr>

					<tr>
						<td>28</td>
						<td>Argentina</td>
						<td>Defensor central</td>
						<td>Lucas Martinez Quarta</td>
						<td>24 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>29</td>
						<td>Argentina</td>
						<td>Lateral derecho</td>
						<td>Gonzalo Montiel</td>
						<td>23 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>17</td>
						<td>Argentina</td>
						<td>Lateral derecho</td>
						<td>Elias Lopez</td>
						<td>19 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>4</td>
						<td>Argentina</td>
						<td>Lateral izquierdo</td>
						<td>Fabrizio Angileri</td>
						<td>26 años</td>
						<td>Godoy Cruz</td>
					</tr>

					<tr>
						<td>20</td>
						<td>Argentina</td>
						<td>Lateral izquierdo</td>
						<td>Milton Casco</td>
						<td>32 años</td>
						<td>Newell´s Old Boys</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="6" align="center" style=" color: white">Mediocampistas</td>
					</tr>

					<tr>
						<td>5</td>
						<td>Argentina</td>
									<td>Mediocampista central</td>
						<td>Bruno Zuculini</td>
						<td>27 años</td>
						<td>Hellas Verona</td>
					</tr>

					<tr>
						<td>24</td>
						<td>Argentina</td>
						<td>Mediocampista central</td>
						<td>Enzo Perez</td>
						<td>33 años</td>
						<td>Valencia CF</td>
					</tr>

					<tr>
						<td>13</td>
						<td>Argentina</td>
						<td>Mediocampista central</td>
						<td>Santiago Sosa</td>
						<td>21 años</td>
						<td>Inferiores</td>
					</tr>	

					<tr>
						<td>23</td>
						<td>Argentina</td>
						<td>Mediocampista central</td>
						<td>Leonardo Ponzio</td>
						<td>38 años</td>
						<td>Real Zaragoza</td>
					</tr>

					<tr>
						<td>26</td>
						<td>Argentina</td>
						<td>Mediocampista</td>
						<td>Ignacio Fernandez</td>
						<td>30 años</td>
						<td>Gimnasia LP</td>
					</tr>

					<tr>
						<td>8</td>
						<td>Colombia</td>
						<td>Enganche</td>
						<td>Jorge Carrascal</td>
						<td>22 años</td>
						<td>FK Karpaty</td>
					</tr>

					<tr>
						<td>10</td>
						<td>Colombia</td>
						<td>Enganche</td>
						<td>Juan Fernando Quintero</td>
						<td>27 años</td>
						<td>FC Oporto</td>
					</tr>

					<tr>
						<td>11</td>
						<td>Uruguay</td>
						<td>Engache</td>
						<td>Nicolas De La Cruz</td>
						<td>23 años</td>
						<td>Liverpool FC (Uruguay)</td>
					</tr>	 

					<tr>
						<td>21</td>
						<td>Argentina</td>
						<td>Enganche</td>
						<td>Cristian Ferreira</td>
						<td>20 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td class="fondoTabla--fondoColor" colspan="6" align="center" style="color: white">Delanteros</td>
					</tr>

					<tr>
						<td>7</td>
						<td>Argentina</td>
						<td>Delantero</td>
						<td>Matias Suarez</td>
						<td>32 años</td>
						<td>Belgrano</td>
					</tr>

					<tr>
						<td>9</td>
						<td>Argentina</td>
						<td>Delantero</td>
						<td>Julian Alvarez</td>
						<td>20 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>18</td>
						<td>Argentina</td>
						<td>Delantero</td>
						<td>Benjamín Rollheiser</td>
						<td>20 años</td>
						<td>Inferiores</td>
					</tr>

					<tr>
						<td>19</td>
						<td>Colombia</td>
						<td>Delantero</td>
						<td>Rafael Borre</td>
						<td>24 años</td>
						<td>Atletico Madrid</td>
					</tr>

					<tr>
						<td>27</td>
						<td>Argentina</td>
						<td>Delantero</td>
						<td>Lucas Pratto</td>
						<td>32 años</td>
						<td>Sao Paulo</td>
					</tr>	
			</table>
		</div>
	</div><!--fin del row-->

	
	<div class="mt-5 pt-5 text-center">
		<h1 class="tituloIdolos--marginTop">Glorias del club</h1>
	</div>


	<div class="row mt-5"><!--inicio del row-->
		<div class="col-12 col-xs-12 col-md-12 col-lg-4">
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/labruna.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Angel Labruna</h5>
    				<p class="card-text">Formado en las inferiores. Capitán y referente de La Máquina. Máximo goleador del club con 317 Goles. Logró 16 títulos como jugador y 6 como director técnico. Máximo ídolo del club.</p>
  				</div>
			</div>
		</div>

		<div class="col-12 col-xs-12 col-md-12 col-lg-4">
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/gallardo.jpg" alt="Card image cap">
 				<div class="card-body">
    				<h5 class="card-title">Marcelo Gallardo</h5>
    				<p class="card-text">Formado en las inferiores. DT más ganador (11) y máximo ganador de títulos internacionales en el club. Venció a Boca Juniors en todas los cruces que lo enfrentó. Logró 8 títulos como jugador.</p>
  				</div>
			</div>
		</div>

		<div class="col-12 col-xs-12 col-md-12 col-lg-4">
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/diaz.jpg" alt="Card image cap">
 				<div class="card-body">
    				<h5 class="card-title">Ramon Diaz</h5>
   					 <p class="card-text">Formado en las inferiores. 2º DT más ganador del club. Convirtió 95 goles en 175 partidos jugados. Campeón de América como DT en River. Logró 5 títulos como jugador y 9 como DT.</p>
  				</div>
			</div>
			</div>
	</div><!--fin del row-->

	<div class="row mt-5"><!--inicio del row-->
		<div class="col-12 col-xs-12 col-md-12 col-lg-4">
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/astrada.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Leonardo Astrada</h5>
    				<p class="card-text">Formado en las inferiores. Disputó 464 partidos oficiales en el club. Campeón de América con River. Campeón invicto. . Logró 12 títulos como jugador y 1 como DT del club.</p>
 				</div>
			</div>
		</div>


		<div class="col-12 col-xs-12 col-md-12 col-lg-4"> 
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="../img/idolos/carrizo.jpg" alt="Card image cap">
				<div class="card-body">
    				<h5 class="card-title">Amadeo Carrizo</h5>
    				<p class="card-text">Formado en las inferiores. Jugador con más presencias en el club con 522 partidos jugados. La IFFHS lo posiciona como uno de los 10 mejores porteros del Siglo XX.</p>
  				</div>
			</div>
		</div>

		<div class="col-12 col-xs-12 col-md-12 col-lg-4">
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/alonso.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Norberto Alonso</h5>
    				<p class="card-text">Formado en las inferiores. Convirtió 158 goles en 422 partidos jugados. Campeón de América y del mundo con River. 7 campeonatos nacionales como jugador.</p>
  				</div>
			</div>
		</div>
	</div><!--fin del row-->


	<div class="row mt-5"><!--inicio del row-->
		<div class="col-12 col-xs-12 col-md-12 col-lg-4"> 
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/cavenaghi.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Fernando Cavenaghi</h5>
    				<p class="card-text">Formado en las inferiores del club. Campeón de América con River en 2015. Convirtió 112 goles en 212 partidos jugados en el club. 10º máximo goleador de la historia del club. </p>
  				</div>
			</div>
		</div>


		<div class="col-12 col-xs-12 col-md-12 col-lg-4"> 
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/ortega.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Ariel Ortega</h5>
    				<p class="card-text">Formado en las inferiores. Convirtió 79 goles en 272 partidos. Campeón invicto. Campeón de América con River en 1996. 6 campeonatos locales en el club.</p>
  				</div>
			</div>
		</div>


		<div class="col-12 col-xs-12 col-md-12 col-lg-4"> 
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="../img/idolos/enzo.jpg" alt="Card image cap">
  				<div class="card-body">
   					<h5 class="card-title">Enzo Francescoli</h5>
    				<p class="card-text">Convirtió 137 goles en 217 partidos. Máximo goleador extranjero del club. Campeón invicto. Campeon de América. 2 veces mejor futbolista del año jugando para River.</p>
  				</div>
			</div>
		</div>
	</div><!--inicio del row-->
</div> <!--fin del container-->

				<!--FOOTER-->
<footer class="footer static-bottom footer__style">
    <div class="container">
        <div class="row p-5">
            <div class="col-12 col-md-8 col-lg-8 text-left">
                <p>Página sin fines de lucro ni comerciales</p>
                <p>Copyright Enzo Benitez©</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center">
                <a href="https://www.facebook.com/riverplateoficial"><img src="../img/logos/facebooklogo1.png" alt="FACEBOOK"></a>
                <a href="https://www.youtube.com/user/cariverplatetv"><img src="../img/logos/youtubelogo1.png" alt="YOUTUBE"></a>
                <a href="https://www.instagram.com/riverplate/?hl=es-la"><img src="../img/logos/instagramlogo1.png" alt="INSTAGRAM"></a>
                <a href="https://twitter.com/RiverPlate"><img src="../img/logos/twitterlogo1.png" alt="TWITTER"></a>
            </div>
        </div>
    </div>
</footer>


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../vendor/js/bootstrap.bundle.min.js"></script>
</body>
</html>
		